body{
    background-color:rgb(255, 255, 255);
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   font-size: x-large;
}
/* .image {
    height: 100px;
    width: 200px;
    margin-top: 50px;
}
@media (max-width:770px){
    .container {
        margin:10% 0px;

    }
    .image{
        width: 200px;
    }
} */